@font-face{
	font-family: 'Roboto';
	src: url(../fonts/roboto/Roboto-Bold.ttf);
}
@font-face{
	font-family: 'Roboto-Regular';
	src: url(../fonts/roboto/Roboto-Regular.ttf);
}
body{
  padding: 0;
  margin: 0;
  color: rgb(41, 43, 114);
  font-family: Roboto;
}
section{
  position: relative;
  overflow: hidden;
}
section#home{
  height: 100vh;
}
* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
	top: 0;
	color: #fff;
}
.color-background{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(201, 221, 245, 0.6);
}
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}

header{
	position: fixed;
	width: 100%;
	height: 60px;
	background: rgb(85, 100, 180);/*rgb(160, 170, 240);*/
	border-bottom: 2px solid #fff;
	padding: 0 calc(50% - 496px);
	z-index: 999;
	transition-duration: 0.3s;
}
header.onTop{
	height: 90px;
	background: transparent;
}

section{
	position: relative;
	width: 100%;
	padding: 0 calc(50% - 496px);
	text-align: center;
}

section h1{
	font-size: 40px;
	font-weight: bold;
	margin: 40px;
	letter-spacing: 6px;
}

#header-logo img{
	height: 46px;
	margin-top: -20px;
	transition-duration: 0.3s;
}
header.onTop #header-logo img{
	margin-top: 0px;
}

header nav.bg-faded{
	background: transparent;
	padding: 15px;
	height: 60px;
	transition-duration: 0.3s;
}
header.onTop nav.bg-faded{
	height: 90px;
}

.navbar-toggleable-md .navbar-nav{
	transition-duration: 0.3s;
	float: right;
	background: rgb(201, 221, 245);
	padding: 10px;
}
header.onTop .navbar-toggleable-md .navbar-nav{
	margin-top: 15px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .open>.nav-link
{
	color: #fff;/*rgb(41, 43, 114);*/
	transition-duration: 0.3s;
}
.navbar-light .navbar-nav .active>.nav-link{
/*	text-decoration: underline;*/
	color: #fff;/*rgb(226, 214, 23);*/
	font-weight: bold;
	position: relative;
}
.navbar-light .navbar-nav .active>.nav-link:after
{
	content: '';
	position: absolute;
	width: calc(100% - 10px);
	height: 2px;
	background: rgb(41, 43, 114);
	bottom: 7px;
	left: 5px;
}
.navbar-light .navbar-nav .nav-link:hover{
	color: #fff;
}

.navbar-brand{
	padding-top: 7px;
	padding-bottom: 7px;
}
.navbar-toggler-right{
	top: 10px;
	transition-duration: 0.3s;
}
.navbar-light .navbar-nav .nav-link:focus
{
	color: #fff;/*rgb(41, 43, 114);*/
}
.navbar-light .navbar-nav .active>.nav-link:focus
{
	color: #fff;/*rgb(226, 214, 23);*/
}
.navbar-light .navbar-nav .nav-link:hover
{
	color: #fff;/*rgb(226, 214, 23);*/
}
header.onTop .navbar-toggler-right{
	top: 25px;
}

#home .home-content{
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 100px calc(50% - 496px) 0;
	z-index: 1;
}
#home h1{
	text-transform: uppercase;
}
#home p{
	color: #fff;
	font-size: 25px;
	margin-bottom: 50px;
	letter-spacing: 3px;
}
#home .home-icon{
	margin: 0 auto;
/*	border-radius: 50%;*/
/*	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);*/
	background-image: url(../images/logo2.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 370px;
	height: 326px;
	background-color: transparent;
	position: relative;
}
/*#home .home-icon:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 50%;
	z-index: -1;
}*/
#home .home-btn-div{
	background: rgb(41, 43, 114);
	margin: 40px auto;
	width: 300px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	border-radius: 8px;
	cursor: pointer;
}
#home .home-btn-div:hover{
	color: rgb(226, 214, 23);
}

.prob-icon{
	position: relative;
	width: 210px;
	height: 210px;
	/*border: 2px dashed rgb(41, 43, 114);*/
	border-radius: 50%;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 60%;
}
.prob-icon:before{
	content: '';
	position: absolute;
	width: 180px;
	height: 180px;
	top: 15px;
	left: 15px;
	border: 1px solid rgb(41, 43, 114);
	border-radius: 50%;
}
@keyframes spinning {
  from {
    transform: rotateZ(0);
  }

  to {
    transform: rotateZ(3600deg);
  }
}
.prob-icon:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	border: 2px dashed rgb(41, 43, 114);
	top: 0;
	left: 0;
	border-radius: 50%;
}
.prob-icon:hover:after{
  animation-duration: 500s;
  animation-name: spinning;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear; /* Safari 4.0 - 8.0 */
  animation-timing-function: linear;
  /*animation-direction: alternate;*/
}
.icon-privacy{
	background-image: url(../images/icons/problem-privacy.png);
}
.icon-property{
	background-image: url(../images/icons/problem-intellectual-property.png);
}
.icon-security{
	background-image: url(../images/icons/problem-security.png);
}
#problematic .row .col p{
	font-size: 35px;
	margin-top: 30px;
	margin-bottom: 0;
	font-family: 'Roboto-Regular';
}
#problematic p.amp{
	color: rgb(226, 214, 23);
	font-size: 53px;
	line-height: 55px;
	margin-top: 10px;
	margin-bottom: 0;
}
#problematic p.description{
	margin-bottom: 40px;
	font-size: 35px;
	text-transform: uppercase;
}

.technology{
	background-image: url(../images/bg-technology.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);
	z-index: 1;
}
.technology h1{
	color: #fff;
}
.technology .row .col{
	margin-bottom: 80px;
	display: relative;
}
.technology .row .col .tech-block{
	padding: 50px;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 8px;
	width: 90%;
	height: 100%;
}
.technology .row .col:first-child .tech-block{
	margin-left: 10%;
}
.technology .tech-block p:last-child{
	margin-bottom: 0;
}
.tech-icon{
	position: relative;
	width: 180px;
	height: 180px;
	border-radius: 50%;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 60%;
	background-color: rgb(41, 43, 114);
	transition-duration: 0.1s;
}
.tech-icon:hover{
	background-color: rgb(226, 214, 23);
}
.tech-icon.icon-gpu{
	background-image: url(../images/icons/tech-gpu.png);
}
.tech-icon.icon-data{
	background-image: url(../images/icons/tech-data.png);
}
.tech-title{
	font-size: 25px;
	margin: 20px;
}
.tech-content{
	font-size: 18px;
	color: #000;
	text-align: justify;
}

.ecosystem{
	background: #fff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(110, 155, 205)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(255, 255, 255), rgb(110, 155, 205)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(255, 255, 255), rgb(110, 155, 205)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(255, 255, 255), rgb(110, 155, 205)); /* Standard syntax */
	padding-bottom: 40px;
}
.ecosystem p{
	color: #000;
	font-size: 25px;
}
.ecosystem img.ecosystem-image{
	width: 100%;
	max-width: 940px;
}
.ecosystem img.ecosystem-icodetails{
	width: 100%;
	max-width: 660px;
}
.ecosystem-wireframe-div{
	border: 3px solid rgb(41, 43, 114);
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 30px;
}
.ecosystem-table{
	border-right: 3px solid rgb(41, 43, 114);
	border-bottom: 3px solid rgb(41, 43, 114);
	width: 90%;
	margin: 0 auto 10px;
}
.ecosystem table.ecosystem-table td{
	text-align: center;
	height: 50px;
	border-top: 3px solid rgb(41, 43, 114);
	border-left: 3px solid rgb(41, 43, 114);
	font-size: 20px;
	line-height: 22px;
	color: #000;
}
.ecosystem .col-sm-3{
	text-align: center;
}
.ecosystem .col-sm-3 p{
	margin-bottom: 0;
	font-size: 20px;
	line-height: 22px;
}
#pie-container{
	height: 50vw;
	width: 100%;
	margin-top: -12vw;
	margin-bottom: -10vw;
}
.white{color:#fff !important;}
.black{color:#000 !important;}
.ico-percent-color{
	display: block;
	width: 22px;
	height: 22px;
	border: 1px solid #000;
	margin-right: 10px;
}
.ico-percent-color.color1{
	background: #000080;
}
.ico-percent-color.color2{
	background: #333399;
}
.ico-percent-color.color3{
	background: #3366ff;
}
.ico-percent-color.color4{
	background: #6699cc;
}
.ecosystem table td{
	text-align: left;
	font-size: 24px;
}

#faq{
	padding-bottom: 40px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);
	z-index: 1;
}
#faq .faq-div{
	text-align: left;
}
#faq .faq-question-div{
	overflow: hidden;
}
#faq .faq-question{
	position: relative;
	padding-left: 50px;
	padding-right: 50px;
	float: left;
	font-size: 25px;
	color: #000;
	cursor: pointer;
}
#faq .faq-question:before{
	content: "\f059";
	position: absolute;
	top: 3px;
	left: 14px;
	font: normal normal normal 30px/1 FontAwesome;
	color: rgb(41, 43, 114);
}
#faq .faq-question:after{
	content: "\f107";
	position: absolute;
	top: 3px;
	right: 14px;
	font: normal normal normal 30px/1 FontAwesome;
	color: rgb(41, 43, 114);
}
#faq .faq-question.opened:after{
	content: "\f106";
}
#faq .faq-answer{
	transition-duration: 0.3s;
	padding-bottom: 0px;
	padding-left: 50px;
	height: 0;
	overflow: hidden;
	font-size: 18px;
}
#faq .faq-answer.opened{
	padding-bottom: 20px;
	height: auto;
}
#roadmap{
	background: rgb(110, 155, 205); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgb(110, 155, 205), rgb(40, 40, 110)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(110, 155, 205), rgb(40, 40, 110)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(110, 155, 205), rgb(40, 40, 110)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(110, 155, 205), rgb(40, 40, 110)); /* Standard syntax */
	padding-bottom: 40px;
}
#roadmap h1{
	color: #fff;
}
#roadmap img{
	width: 100%;
}

#members{
	padding-bottom: 40px;
}
.circle-dashed.exe-member{
	width: 240px;
	height: 240px;
}
.circle-dashed.tech-member{
	width: 200px;
	height: 200px;
}
.circle-dashed.adv-member{
	width: 120px;
	height: 120px;
}
.circle-dashed{
	position: relative;
	margin: 30px auto;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.circle-dashed:before{
	position: absolute;
	content: '';
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	border: 2px solid rgb(41, 43, 114);
	border-radius: 50%;
}
.circle-dashed:after{
	position: absolute;
	content: '';
	top: -15px;
	left: -15px;
	width: calc(100% + 30px);
	height: calc(100% + 30px);
	border: 3px dashed rgb(41, 43, 114);
	border-radius: 50%;
	z-index: -1;
}
.circle-dashed:hover:after{
  animation-duration: 500s;
  animation-name: spinning;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear; /* Safari 4.0 - 8.0 */
  animation-timing-function: linear;
  /*animation-direction: alternate;*/
}
.circle-dashed.exe-member-1{background-image: url(../images/member/executive/1.jpg);}
.circle-dashed.exe-member-2{background-image: url(../images/member/executive/2.jpg);}
.circle-dashed.exe-member-3{background-image: url(../images/member/executive/3.jpg);}
.circle-dashed.exe-member-4{background-image: url(../images/member/executive/4.jpg);}
.circle-dashed.exe-member-5{background-image: url(../images/member/executive/5.jpg);}
.circle-dashed.exe-member-6{background-image: url(../images/member/executive/6.jpg);}
.circle-dashed.tech-member-1{background-image: url(../images/member/technical/1.jpg);}
.circle-dashed.tech-member-2{background-image: url(../images/member/technical/2.jpg);}
.circle-dashed.tech-member-3{background-image: url(../images/member/technical/3.jpg);}
.circle-dashed.tech-member-4{background-image: url(../images/member/technical/4.jpg);}
.circle-dashed.tech-member-5{background-image: url(../images/member/technical/5.jpg);}
.circle-dashed.tech-member-6{background-image: url(../images/member/technical/6.jpg);}
.circle-dashed.tech-member-7{background-image: url(../images/member/technical/7.jpg);}
.circle-dashed.tech-member-8{background-image: url(../images/member/technical/8.jpg);}
.circle-dashed.tech-member-9{background-image: url(../images/member/technical/9.jpg);}
.circle-dashed.tech-member-10{background-image: url(../images/member/technical/10.jpg);}
.circle-dashed.tech-member-11{background-image: url(../images/member/technical/11.jpg);}
.circle-dashed.tech-member-12{background-image: url(../images/member/technical/12.jpg);}
.circle-dashed.tech-member-13{background-image: url(../images/member/technical/13.jpg);}
.circle-dashed.tech-member-14{background-image: url(../images/member/technical/14.jpg);}
.circle-dashed.tech-member-15{background-image: url(../images/member/technical/15.jpg);}
.circle-dashed.adv-member-1{background-image: url(../images/member/advisory/1.jpg);}
.circle-dashed.adv-member-2{background-image: url(../images/member/advisory/2.jpg);}
.circle-dashed.adv-member-3{background-image: url(../images/member/advisory/3.jpg);}
.circle-dashed.adv-member-4{background-image: url(../images/member/advisory/4.jpg);}
.circle-dashed.adv-member-5{background-image: url(../images/member/advisory/5.jpg);}
.exe-members p{
	font-size: 25px;
	padding: 10px;
	letter-spacing: 6px;
}
.tech-members p{
	font-size: 23px;
	padding: 10px 0px;
	letter-spacing: 2px;
}
.circle-dashed:hover .member-detail{
	opacity: 1;
}
.member-detail{
	opacity: 0;
	display: table;
	width: 100%;
	height: 100%;
	background-color: rgba(52, 72, 134, 0.5);
	position: absolute;
	border-radius: 50%;
	transition-duration: 0.3s;
}
.member-info {
	display: table-cell;
	vertical-align: middle;
}
.member-detail p{
	color: #fff;
	font-size: 23px;
	letter-spacing: 0px;
	padding: 0;
}
.member-detail .member-soicals a{
	display: inline-block;
	background-color: rgb(0, 119, 183);
	border-radius: 4px;
	width: 30px;
	height: 30px;
	padding-top: 4px;
}
.member-detail .member-soicals a i{
	font-size: 25px;
	color: #fff;
}

.administrative{
	background-color: rgb(182, 195, 226);
	box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.5);
	z-index: 1;
	padding-bottom: 40px;
}
.administrative-item{
	position: relative;
}
.administrative-item .administrative-item-info{
	position: absolute;
	background: rgba(0, 0, 0, .5);
	display: table;
	opacity: 0;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	transition-duration: 0.3s;
}
.administrative-item:hover .administrative-item-info{
	opacity: 1;
}
.administrative-item .administrative-item-info p{
	display: table-cell;
	vertical-align: middle;
	color: #fff;
}
.administrative-item .administrative-item-info p span{
	border: 2px solid #fff;
	border-radius: 4px;
	height: 20px;
    display: inline-block;
    line-height: 14px;
}
.administrative-item .administrative-item-info p span a{
	color: #fff;
}
.administrative-item .administrative-item-info p span a:hover,
.administrative-item .administrative-item-info p span a:active,
.administrative-item .administrative-item-info p span a:focus{
	text-decoration: none;
}
#advisory{
	padding-bottom: 40px;
	z-index: 1;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
#partners{
	background: rgb(90, 110, 180);
    background: -webkit-linear-gradient(rgb(90, 110, 180), rgb(50, 70, 130));
    background: -o-linear-gradient(rgb(90, 110, 180), rgb(50, 70, 130));
    background: -moz-linear-gradient(rgb(90, 110, 180), rgb(50, 70, 130));
    background: linear-gradient(rgb(90, 110, 180), rgb(50, 70, 130));
}

.partner-bg{
	background-color: rgba(255, 255, 255, 0.7);
	width: 150px;
	height: 150px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	margin: 0 auto 40px;
}
.partner-bg.partner-1{background-image: url(../images/partners/1.png);}
.partner-bg.partner-2{background-image: url(../images/partners/2.png);}
.partner-bg.partner-3{background-image: url(../images/partners/3.png);}
.partner-bg.partner-4{background-image: url(../images/partners/4.png);}
.partner-bg.partner-5{background-image: url(../images/partners/5.png);}
.partner-bg.partner-6{background-image: url(../images/partners/6.png);}
.partner-bg.partner-7{background-image: url(../images/partners/7.png);}
.partner-bg.partner-8{background-image: url(../images/partners/8.png);}

@media (min-width: 992px)
{
	.navbar-toggleable-md .navbar-collapse
	{
		display: block !important;
		float: right;
	}
	#header-logo img{
		margin-top: 0px;
	}
	header.onTop .navbar-toggleable-md .navbar-nav{
		margin-top: 0px;
		background-color: transparent;
	}
	.navbar-toggleable-md .navbar-nav{
		background-color: transparent;
	}
	.technology .row .col .tech-block{
		width: 100%;
	}
	.technology .row .col:first-child .tech-block{
		margin-left: 0;
	}
}
@media (max-width: 992px)
{
	section h1{
		letter-spacing: 0px;
	}
	section#home{
		height: auto;
	}
}
@media (max-width: 576px)
{
	.technology .row .col .tech-block{
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}
	.technology .row .col:first-child .tech-block{
		margin-left: 5%;
	}
	#home .home-icon{
		width: 185px;
		height: 163px;
	}
	/*#home .home-icon:before{
		width: 200px;
		height: 200px;
	}*/
}

@media screen and (max-width: 48em) {
  .main-example {
    width: 100%;
  }
  .main-example .countdown-container {
    height: 100px;
  }
  .main-example .time {
      height: 70px;
      width: 48px;
  }
  .main-example .count {
    font-size: 1.5em;
    line-height: 70px;
  }
  .main-example .label {
    font-size: 0.8em;
    top: 72px;
  }
}
/* Count Down end */

#work-in-progress {
	position: fixed;
	z-index: 200000;
	background-color: #FFFFFF;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
@keyframes loading {
  from {
    transform: rotateZ(0);
  }

  to {
    transform: rotateZ(3600deg);
  }
}
.work-spinner {
	width: 100px;
	height: 100px;
	background-image: url(../images/logo2.png);
	background-repeat: no-repeat;
	background-size: 70%;
	background-position: center;
	margin: calc(50vh - 50px) auto;
	box-shadow: 0 0 0 5px rgb(85, 100, 180);
	border-radius: 50%;
	animation-duration: 50s;
	animation-name: loading;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear; /* Safari 4.0 - 8.0 */
	animation-timing-function: linear;
}
